@import '../../styles/main.css';

.footer-wrapper {
    height: 511px;
    width: 100%;
    background-color: var(--dark-black);
    padding: 84px;
}

.footer-contact-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 179px;
    justify-content: space-between;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
}

.contact-info * {
    color: var(--dark-gray);
}

.gap-tiny {
    gap: .5rem;
}