@font-face {
    font-family: "Fabriga";
    src: url("https://db.onlinewebfonts.com/t/1a204cd3ccb7f25e06faa548e6251a59.eot");
    src: url("https://db.onlinewebfonts.com/t/1a204cd3ccb7f25e06faa548e6251a59.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/1a204cd3ccb7f25e06faa548e6251a59.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/1a204cd3ccb7f25e06faa548e6251a59.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/1a204cd3ccb7f25e06faa548e6251a59.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/1a204cd3ccb7f25e06faa548e6251a59.svg#Fabriga")format("svg");
}

:root {
    --background-gray: #F3F2F0;
    --dark-gray: #999999;
    --jonah-black: #282827;
    --warm-white: #F3F2F0;
    --dark-black: #151515;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Fabriga;
}

body {
    background-color: var(--background-gray);
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-wrapper {
    width: 90%;
}

.inner-wrapper {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    gap: 6.35rem;
}

.row-container {
    display: flex;
    align-items: center;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.gap-1 {
    gap: 1rem;
}

.gap-tiny {
    gap: .5rem;
}

.mt-tiny {
    margin-top: .5rem;
}

.space-between {
    justify-content: space-between;
}

.full-width {
    width: 100%;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.full-height {
    height: 100%;
}

.br-sm {
    border-radius: .5rem;
}

.br-md {
    border-radius: .75rem;
}

.caption-text {
    color: var(--jonah-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.body-1 {
    font-size: 18px;
}

.body-2 {
    font-size: 14px;
}

.plain-link {
    text-decoration: none;
}

h2 {
    color: var(--jonah-black);
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

h6 {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
}

h5 {
    font-size: 26px;
}

.caption-text-large {
    font-size: 20px;
    line-height: 36px;
}

.white-text {
    color: var(--warm-white)
}

.thin-text {
    font-weight: 400;
}

.black-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background: var(--jonah-black);
    font-family: Fabriga;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: var(--warm-white);
    padding-left: .875em;
    padding-right: .875em;
    min-width: 109px;
    height: 50px;
    border: none;
}

.black-button:hover {
    background-color: transparent;
    border: 1px solid var(--jonah-black);
    color: var(--jonah-black);
    cursor: pointer;
}

.call-to-action-container {
    max-width: 918px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.video-card-container {
    width: 100%;
    min-height: 817px;
    border-radius: 36px;
    background: url("../assets/video.jpeg") lightgray 50% / cover no-repeat;
    display: flex;
    padding: 60px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.video-card-container > .black-button:hover {
    background-color: var(--jonah-black);
    border: none;
    color: var(--warm-white);
    cursor: pointer !important;
}

.main-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
    margin-bottom: 100px;
}
